## 1. Import libraries

In [11]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
import eda_helper_functions
import missingno as msno
from sklearn.ensemble import IsolationForest
pd.set_option('display.max_columns', None)
import os

## 2. Read the Training Data

In [12]:
def get_data(name):
    # Check if the dataset directory exists
    current_dir = os.getcwd()
    print("Current directory:", current_dir)

    if current_dir == "/Users/sudhirjoon/Library/Mobile Documents/com~apple~CloudDocs/Uni_Mannheim/Sem2/Machine Learning zoomcamp/MLZoomcamp":
        print("Dataset directory is correct.")
    else:
        # change directory
        current_dir = os.chdir('/Users/sudhirjoon/Library/Mobile Documents/com~apple~CloudDocs/Uni_Mannheim/Sem2/Machine Learning zoomcamp/MLZoomcamp')
        print("Current directory updated")

    # Check if the file exists
    data_path = "Midterm Project/German Real State Project/Data"
    file_name = f"{name}.csv"
    file_path = os.path.join(current_dir, data_path,file_name)
    return pd.read_csv(file_path)

In [15]:
train = get_data('cleaned_data')
train.shape

Current directory: /Users/sudhirjoon/Library/Mobile Documents/com~apple~CloudDocs/Uni_Mannheim/Sem2/Machine Learning zoomcamp/MLZoomcamp
Dataset directory is correct.

(200206, 30)

In [16]:
train.head()

,stateName,serviceCharge,heatingType,telekomTvOffer,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,firingTypes,hasKitchen,cellar,yearConstructedRange,baseRent,livingSpace,condition,interiorQual,petsAllowed,lift,baseRentRange,typeOfFlat,geo_plz,noRooms,garden,livingSpaceRange,cityName,cityDistrict,yearConstructed_category,floor_category
0,Nordrhein_Westfalen,5.505332,central_heating,ONE_YEAR_FREE,False,False,6,4.62,10.0,840.0,oil,False,True,2.0,595.0,86.00,well_kept,normal,unknown,False,4,ground_floor,44269,4,True,4,Dortmund,Schüren,1952-1973,floor_0_3
1,Sachsen,5.545177,floor_heating,ONE_YEAR_FREE,True,True,8,2.72,2.4,1300.0,district_heating,False,True,9.0,965.0,83.80,first_time_use,sophisticated,unknown,True,6,apartment,1097,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,1997-2030,floor_0_3
2,Sachsen,4.080077,district_heating,ONE_YEAR_FREE,False,True,9,1.53,40.0,655.0,district_heating,False,False,2.0,343.0,58.15,unknown,unknown,unknown,False,2,other,9599,3,False,2,Mittelsachsen_Kreis,Freiberg,1952-1973,floor_0_3
3,Bremen,4.934474,self_contained_central_heating,unknown,False,True,19,2.46,40.0,903.0,gas,False,False,1.0,765.0,84.97,refurbished,unknown,unknown,False,5,apartment,28213,3,False,4,Bremen,Neu_Schwachhausen,1881-1952,floor_0_3
4,Schleswig_Holstein,4.962845,gas_heating,unknown,False,True,5,4.48,2.4,655.0,gas,True,False,5.0,315.2,53.43,well_kept,unknown,no,False,2,apartment,24891,2,False,2,Schleswig_Flensburg_Kreis,Struxdorf,1997-2030,floor_0_3

## 3. High level summary of data

In [21]:
train.describe(include='number').T

,count,mean,std,min,25%,50%,75%,max
serviceCharge,200206.0,4.858834,0.706589,0.00,4.59512,4.912655,5.252273,11.892177
picturecount,200206.0,9.860723,6.397004,0.00,6.00000,9.000000,13.000000,121.000000
pricetrend,200206.0,3.420989,1.960698,-12.33,2.04000,3.390000,4.570000,14.920000
telekomUploadSpeed,200206.0,30.263964,15.605638,1.00,10.00000,40.000000,40.000000,40.000000
totalRent,200206.0,799.753471,517.454513,0.00,499.00000,655.000000,920.000000,13500.000000
yearConstructedRange,200206.0,3.760811,2.740202,1.00,2.00000,3.000000,5.000000,9.000000
baseRent,200206.0,654.651144,499.301846,0.00,339.00000,495.000000,807.567500,10700.000000
livingSpace,200206.0,73.665150,31.022705,3.00,55.00000,67.690000,87.000000,358.000000
baseRentRange,200206.0,3.802109,2.234461,1.00,2.00000,3.000000,6.000000,9.000000
geo_plz,200206.0,37336.940946,27496.339281,1057.00,9131.00000,38820.000000,56154.000000,99994.000000
noRooms,200206.0,2.598024,0.959409,1.00,2.00000,3.000000,3.000000,23.000000
livingSpaceRange,200206.0,3.083844,1.391700,1.00,2.00000,3.000000,4.000000,7.000000

In [22]:
train.describe(include='object').T

                           count unique                  top    freq
stateName                 200206     16  Nordrhein_Westfalen   49061
heatingType               200206     13      central_heating  114378
telekomTvOffer            200206      3        ONE_YEAR_FREE  169201
firingTypes               200206    126                  gas  102722
condition                 200206     11            well_kept   52451
interiorQual              200206      5              unknown   81571
petsAllowed               200206      4              unknown   84428
typeOfFlat                200206     10            apartment  116415
cityName                  200206    419              Leipzig    9272
cityDistrict              200206   7956           Innenstadt    3077
yearConstructed_category  200206      4            1973-1997   51420
floor_category            200206      5            floor_0_3  153679